<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AppDark</title>
    <style>
        body {
            background-color: #000000;
            color: white;
        }
    </style>
</head>
<header>
      <h1>My personal page</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="/info">Info</a>
        <a href="/history">History</a>
      </nav>
    </header>
<body>
    {{{ body }}}
</body>
</html>